<div class="password-reset">
<div class="container">
<div class="password-header">
<h2>Resend confirmation instructions</h2>
</div>
<div class="password-body">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="col-md-6">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Enter your registered email', class: 'form-field' %>
  </div>
<p><%= captcha_tag %> <%= text_field_tag :captcha%></p>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-register' %>
  </div>
  </div>
<% end %>
<div class="col-md-6" style="padding: 10px;">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>