
<%=render 'pages/leftbar'%>
<div class="top-dashboard-row">
<div class="edit-form">

<div class="container">
<div class="edit-head">
<h2>General account settings</h2>
</div>
<hr>
<div class="edit-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,class: 'edit-field'%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true , placeholder: "First Name", class: 'edit-field'%>
  </div>
   <div class="field">
    <%= f.label :second_name %><br />
    <%= f.text_field :second_name, autofocus: true, placeholder: "Second Name", class: 'edit-field' %>
  </div>
   <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: 'edit-field' %>
  </div>
   
   <div class="field">
    <%= f.label :ID_Number %><br />
    <%= f.text_field :idnumber, autofocus: true, placeholder: "National ID Number", class: 'edit-field' %>
  </div>
  
   <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.text_field :mobilenumber, autofocus: true, placeholder: "Mobile Number", class: 'edit-field' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "Email Address", class: 'edit-field' %>
  </div>

 <div class="field">
    <%= f.label :date_of_birth%><br />
    <%= f.date_field :dateofbirth, autofocus: true, placeholder: "Date Of Birth", class: 'edit-field' %>
  </div>
  
   <div class="field">
    <%= f.label :county_id %><br />

    <%= f.collection_select :county_id, County.all, :id, :name,  {prompt: "Select a county"}, {class: 'edit-field'}%>
 
  </div>
  
   <div class="field">
    <%= f.label :area_id %><br />
    <%= f.collection_select :area_id, Area.all, :id, :name,  {prompt: "Select  Area"}, { class: 'edit-field'}%>
  </div>
  <%= f.hidden_field :raw_address, value: request.ip %>
   <%= f.hidden_field :latitude, class: "form-control" %>
    <%= f.hidden_field :longitude, class: "form-control" %>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" ,class: 'edit-field' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class: 'edit-field' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" ,class: 'edit-field' %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes", class: 'btn btn-success' %>
  </div>
<% end %>

<h3>Revoke my Lostitems Agent Membership</h3>
<hr>
<p>By revoking your account, your entire account will be deleted and all your data lost.</p>

<p>Unhappy? <%= button_to "Cancel your Membership", registration_path(resource_name), data: { confirm: "Are you sure you would like to cancel your account?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>
</div>