<%= render 'pages/header' %>

<%=render 'pages/leftbar'%>
<div class="top-dashboard-row">
<div class="container" style="padding-top: 10px;">
<div class="user-profile" style="color: rgba(0,0,0,0.6);">
<div class="col-md-3">
<% if @user.picture.nil? %>
 <a href="#"><img src="http://res.cloudinary.com/hea0ivien/image/upload/c_scale,h_600,w_600/v1507814026/user-icon-png-person-user-profile-icon-20_hnulmk.png" class="img-responsive center-block"></a>
<%else %>
<%= cl_image_tag @user.picture_url :transformation => [{ :height => 200, :width => 200,:crop => "scale", :fetch_format => :auto, itemprop: "image",:radius => 100}] %>
<%end%>

</div>
</div>
<div class="col-md-5">
<p class="profile-p"><strong>Email Address: </strong> <br> <i class="fa fa-envelope"></i> <%= @user.email %></p>
<hr>
<p class="profile-p"><strong>Registered Name: </strong><br> <i class="fa fa-user-o"></i> <%= @user.first_name %> <%= @user.second_name %></p>
<hr>
<p class="profile-p"><strong>ID Number: </strong><br> <i class="fa fa-id-card-o"></i> <%= @user.idnumber %></p>
<hr>
<p class="profile-p"><strong>Mobile Number: </strong><br> <i class="fa fa-phone"></i> <%= @user.mobilenumber%></p>
<hr>

</div>
<div class="col-md-4">
<p class="profile-p"><strong>Date of Birth: </strong><br> <i class="fa fa-calendar"></i> <%= @user.dateofbirth%></p>
<hr>
<p class="profile-p"><strong>County: </strong><br> <i class="fa fa-globe"></i> <%= @user.county.name%></p>
<hr>
<p class="profile-p"><strong>Operating Area: </strong><br> <i class="fa fa-map-marker"></i> <%= @user.area.name%></p>
<hr>
<p class="profile-p"><strong>Your User Code/ID: </strong><br> <i class="fa fa-eye"></i> <%= @user.user_code%></p>

 <hr>
 <%= link_to "Edit info", edit_user_registration_path, class: 'btn btn-sm btn-success' %>
</div>
</div>
</div>
</div>