<div class="side-btn">
 <button type="button" class="navbar-toggle collapsed menu-collapsed-button" data-toggle="collapse" data-target="#navbar-primary-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
</div>
<nav class="main-menu">
            <ul>
                <li>
                  
                  <%= link_to admin_path do %>
         <i class="fa fa-home fa-2x"></i> <span class="nav-text">
                            Dashboard
                        </span>
        <% end %>
                </li>
                 <li class="has-subnav">
                    
                     <%= link_to profile_path do %>
         <i class="fa fa-user-o fa-2x"></i> <span class="nav-text">
                            My Profile
                        </span>
        <% end %>
                </li>
                <li class="has-subnav">
                    
                     <%= link_to lostitems_path do %>
         <i class="fa fa-list fa-2x"></i> <span class="nav-text">
                            Recorded Lostitems
                        </span>
        <% end %>
                </li>
                <li class="has-subnav">
                    
                     <%= link_to searches_path do %>
         <i class="fa fa-search fa-2x"></i> <span class="nav-text">
                            Searches
                        </span>
        <% end %>
                </li>
                <li>
                    <%= link_to admin_path do %>
         <i class="fa fa-credit-card fa-2x"></i><span class="nav-text">
                            Billing
                        </span>
        <% end %>
                </li>
                <li>
                     <%= link_to notifications_path do %>
      <i class="fa fa-bullhorn fa-2x"></i> <span class="label label-warning"><%= current_user.notifications.where(read: nil).count%></span> <span class="nav-text">
                           Notifications
                        </span>
        <% end %>
                </li>
                
              
                <li>
                      <%= link_to admin_path do %>
           <i class="fa fa-map-marker fa-2x"></i> <span class="nav-text">
                            Reported Lost Items Near You
                        </span>
        <% end %>
        </li>
        <li>
          <%= link_to admin_path do %>
           <i class="fa fa-street-view fa-2x"></i> <span class="nav-text">
                            Found Lost Items Near You
                        </span>
        <% end %>
                </li>
                <li>
    
                    <%= link_to edit_user_registration_path do %>
           <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Settings
                        </span>
        <% end %>
                </li>
            </ul>

            <ul class="logout">
                <li>
                  
                     <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
        <% end %>
                </li>  
            </ul>
        </nav>