<div class="side-btn">

<nav class="main-menu" id="myDropdown">

            <ul>
    <span class="nav-text" onclick="myFunction()" >
      <h1 style="font-weight: 900; font-size:30px;  color: #1ab394; text-align: right;"> X </h1>
                        </span>
                <li>
                  
                  <%= link_to admin_path do %>
         <i class="fa fa-home fa-2x"></i> <span class="nav-text">
                            Dashboard
                        </span>
        <% end %>
                </li>
                 <li class="has-subnav">
                    
                     <%= link_to profile_path do %>
         <i class="fa fa-user-o fa-2x"></i> <span class="nav-text">
                            My Profile
                        </span>
        <% end %>
                </li>
                <li class="has-subnav">
                    
                     <%= link_to lostitems_path do %>
         <i class="fa fa-list fa-2x"></i> <span class="nav-text">
                            Recorded Lostitems
                        </span>
        <% end %>
                </li>
                <li class="has-subnav">
                    
                     <%= link_to searches_path do %>
         <i class="fa fa-search fa-2x"></i> <span class="nav-text">
                            Searches
                        </span>
        <% end %>
                </li>
                <li>
                    <%= link_to account_path(current_user) do %>
         <i class="fa fa-credit-card fa-2x"></i><span class="nav-text">
                            Billing
                        </span>
        <% end %>
                </li>
                <li>
                     <%= link_to notifications_path do %>
      <i class="fa fa-bullhorn fa-2x"></i> <span class="label label-warning"><%= current_user.notifications.where(read: nil).count%></span> <span class="nav-text">
                           Notifications
                        </span>
        <% end %>
                </li>
                
              
                
                <li>
    
                    <%= link_to edit_user_registration_path do %>
           <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Settings
                        </span>
        <% end %>
                </li>
            </ul>

            <ul class="logout">
                <li>
                  
                     <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
        <% end %>
                </li>  
            </ul>
        </nav>