
<nav class="main-menu">
            <ul>
                <li>
                  
                  <%= link_to admin_path do %>
         <i class="fa fa-home fa-2x"></i> <span class="nav-text">
                            Dashboard
                        </span>
        <% end %>
                </li>
               
                <li class="has-subnav">
                    
                     <%= link_to lostitems_path do %>
         <i class="fa fa-list fa-2x"></i> <span class="nav-text">
                            Recorded Lostitems
                        </span>
        <% end %>
                </li>
                <li>
                    <%= link_to admin_path do %>
         <i class="fa fa-folder-open fa-2x"></i><span class="nav-text">
                            LostItems
                        </span>
        <% end %>
                </li>
                <li>
                     <%= link_to admin_path do %>
        <i class="fa fa-bar-chart-o fa-2x"></i><span class="nav-text">
                            LostItems
                        </span>
        <% end %>
                </li>
                
                <li>
                   
                      <%= link_to admin_path do %>
          <i class="fa fa-table fa-2x"></i><span class="nav-text">
                            LostItems
                        </span>
        <% end %>
                </li>
                <li>
                      <%= link_to admin_path do %>
           <i class="fa fa-map-marker fa-2x"></i> <span class="nav-text">
                            Locations
                        </span>
        <% end %>
                </li>
                <li>
    
                    <%= link_to admin_path do %>
           <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
        <% end %>
                </li>
            </ul>

            <ul class="logout">
                <li>
                  
                     <%= link_to destroy_user_session_path do %>
             <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
        <% end %>
                </li>  
            </ul>
        </nav>