<style type="text/css">
	.withdraw a{
		color: white;
	}
</style>
<%= render 'pages/header' %>
<%=render 'pages/leftbar'%>
<div class="account-status-bar">
<div class="container">
<div class="col-md-3" style="border-right: 1px solid rgba(0,0,0,0.1);">
<h5>Deliver Searched item
</h5>
<%= form_tag lostitems_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'Search Document', class: 'search-form' %>
    <%= submit_tag "GO", :name => nil , class: 'btn btn-info'%>
  </p>
<% end %>
</div>
<div class="col-md-3" style="border-right: 1px solid rgba(0,0,0,0.1);"> 
<h5>Your Account status <span class="fa fa-certificate" style="color: gold;"></span></h5>
<p style="text-align: center; font-size: 25px; "><%if current_user.status == true %>
 <span class="fa fa-toggle-on" style="color: green;"></span>
<%else%>
<span class="fa fa-toggle-off" style="color: red;""></span>
<%end%></p>
</div>
<div class="col-md-3" style="text-align: center;">
<h5>Your Account Balance <span class="fa fa-money" style="color: green;"></span></h5>
<div class="col-md-6">
<p style="color: rgba(0,0,0,0.6); font-weight: 100;"> <%if current_user.account.balance = nil %> No Balance <%else%> A/C Balance: Ksh <%= current_user.account.balance%><%end%></p>
</div>
<div class="col-md-6">
<p style="color: rgba(0,0,0,0.6); font-weight: 100;"> Available Bal:  Ksh <%= current_user.lostitems.where(status: false).count * 70 %>
</p>
</div>
  </div>
  <div class="col-md-3 withdraw" style="text-align: center;">
<h5>Account Options <span class="fa fa-opencart" style="color: orange;"></span></h5>
<li class='btn btn-sm btn-warning'><%= link_to "Refresh" %></li>
<li class='btn btn-sm btn-success'><%= link_to "Withdraw Cash" %></li>

  </div>
</div>
</div>
</div>
</div>
<div class="top-dashboard-row">
<div class="container">
<div class="col-md-2" style="background:#1ab394; min-height: 100%; padding: 10px; color: white; margin-bottom: 0px; text-align: center; font-weight: 900;">
<div class="short-sum">
<p>Posted Items</p>
<h2><%= current_user.lostitems.count %></h2>
<%= link_to "View all", lostitems_path %>
<hr>
<p>Total Searches</p>
<h2><%= current_user.histories.count %></h2>
<%= link_to "View all", searches_path %>
<hr>
<p>Delivered Items</p>
<h2><%= current_user.lostitems.where(status: false).count%></h2>
</div>
</div>
<div class="col-md-5">
<h3 class="greet-user">Your Daily Posts          <span class="label label-warning" style="background:#1ab394; font-size: 13px; text-align: right; ">Last 7 Days</span></h3>
<%= area_chart current_user.lostitems.group_by_day(:created_at, range: 7.days.ago.midnight..Time.now).count, xtitle: "Time", ytitle: "No of Posts", colors: ["#1ab394"], height: '250px;' , download: "boom", legend: "top", library: { hAxis: { format: 'dd/mm/yyyy' } }%>
<p style="font-size: 12px; color: rgba(0,0,0,0.6); text-align: center">This graph shows your items posted daily report for posted items last 7 Days</p>
</div>
<div class="col-md-5">
<h3 class="greet-user">Your Daily Searches         <span class="label label-warning" style="background:#1ab394; font-size: 13px;">Last 7 Days</span></h3>

<%= line_chart current_user.histories.group('DAYOFWEEK(created_at)').count, xtitle: "Day", ytitle: "Searches", colors: ["#1ab394"], curve: false, height: '250px;', legend: "top", library: { hAxis: { format: "%a" } }%>
<p style="font-size: 12px; color: rgba(0,0,0,0.6); text-align: center">This graph shows your daly searced item reports for the past 7 days</p>	
</div>
</div>
</div>

<div class="middle-dashboard-row">
<div class="container-fluid">
<div class="col-md-4 mini-col">

<h4>Revenue    <span class="label label-warning" style="background:#1ab394; font-size: 13px;">Daily(Ksh)</h4>
<hr>
<p>Your Estimated monthly Revenue</p>
<%= column_chart current_user.lostitems.group('WEEK(created_at)').count, width: "400px", height: "150px", colors: ["#1ab394"], stacked: true%>
<div class="col-md-6">
<h4>Est. Revenue: Ksh. <%= current_user.lostitems.count * 70 %></h4>
</div>
<div class="col-md-6">
<h4>Revenue Payable: Ksh. <%= current_user.lostitems.where(status: false).count * 70 %></h4>
</div><a href="">View price per item</a>
<p>The figure is calculated from the delivered lostitems</p>
</div>
<div class="col-md-3 mini-col">
<h3 class="greet-user">Documents Types</h3>
	<%= pie_chart current_user.lostitems.joins(:type).group('types.name').count , {donut: true, radius:  "90%", height: '250px;',legend: "bottom", colors: ["#1ab394","orange", "lightblue", "rgba(0,0,0,0.5)" ]}%>
	<p style="font-size: 12px; color: rgba(0,0,0,0.6); text-align: center">Anlaysis of the type on documents recorded</p>	

</div>
<div class="col-md-4 mini-col">
<h4>Your Operating Location as captured</h4>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{current_user.latitude},#{current_user.longitude}&markers=#{current_user.latitude},#{current_user.longitude}&zoom=15&size=400x300&key= AIzaSyABrDa4leIaXDXUGyBz6ApK9hhKmuVrOF8",
              class: 'img-fluid img-rounded img-responsive'%>
</div>
</div>
</div>