<%= render 'pages/header' %>
<%=render 'pages/leftbar'%>
<div class="dashboard-body">
<div class="container" style="overflow-x:auto">
<%= link_to 'Record a new lost item', new_lostitem_path, class: 'btn btn-sm btn-primary' %>

<h1>Lostitems</h1>


<table>
  <thead>
    <tr>
      <th>Doc Type</th>
      <th>Doc Name</th>
      <th>Identifier number</th>
      <th>Date Found</th>
      <th>Status</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @lostitems.each do |lostitem| %>
      <tr>
        <td><%= lostitem.type.name %></td>
        <td><%= lostitem.name %></td>
        <td><%= lostitem.id_number %></td>
        <td><%= lostitem.date_found %></td>
        <td><%if lostitem.status== false  %><p style="color: darkgreen;">Delivered</p><%else%><p style="color: red;">Undeliverd</p> <%end%></td>
        <td>
  <% if lostitem.status == true %>
  <% if lostitem.pay == false %>
  Not Paid
  <%else%>
    <%= form_for lostitem do |f| %>
  <div><%= f.hidden_field :status, value: false %></div>
  <%= f.submit "Deliver item", class: "btn btn-sm btn-warning" %>
  <%end%>
<% end %>
  <% else %>
  <div style="text-align: center; ">
  <span class="fa fa-check" style="text-align: center; font-size: 20px; color: darkgreen;"></span>
  </div>
  <% end %>
  </div></td>
        <td><%= link_to 'Details', lostitem , class: 'btn btn-sm btn-success'%></td>
        <td><%= link_to 'Edit item', edit_lostitem_path(lostitem), class: 'btn btn-sm btn-default' %></td>
        <td><%= link_to 'Delete', lostitem, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
</div>
<style type="text/css">
  .btn-success{
    border-radius: 20px;
    background: white;
    border: 1px solid green;
    color: green;
  }
  .btn-danger{
    background: white;
    color: red;
    border: 0px solid black;
    border-radius: 20px;
  }
  .btn-warning{
    border-radius: 20px;
    background: white;
    border: 1px solid orange;
    color: orange;
  }
  .btn-default{
    border-radius: 20px;
   border: 1px solid rgba(0,0,0,0.2);

  }
</style>