<%= render 'pages/header' %>
<%=render 'pages/leftbar'%>
<div class="top-dashboard-row" style="padding-top: 20px; padding-bottom: 20px;">
<div class="container">
<div class="col-md-6">
<h4>Front View</h4>
<%= cl_image_tag @lostitem.picture_front_url :transformation => [{ :height => 200, :width => 200,:crop => "scale", :fetch_format => :auto, itemprop: "image",:radius => 0}] %>

</div>
<div class="col-md-6">
<h4>Back View</h4>
<%= cl_image_tag @lostitem.picture_back_url :transformation => [{ :height => 200, :width => 200,:crop => "scale", :fetch_format => :auto, itemprop: "image",:radius => 0}] %>

</div>
<div class="col-md-6">
<p>
  <strong>Document Type:</strong><br>
  <%= @lostitem.type.name %>
</p>
<hr>
<p>
  <strong>Identified Name:</strong> <br>
  <%= @lostitem.name %>
</p>
<hr>
<p>
  <strong>Identified number:</strong> <br>
  <%= @lostitem.id_number %>
</p>
<hr>
<p>
  <strong>County of birth:</strong><br>
  <%= @lostitem.county_born%>
</p>
<hr>
  <strong>Document Date of birth:</strong><br>
  <%= @lostitem.date_of_birth %>
</p>
<hr>

</div>
<div class="col-md-6">


<p>
  <strong>Document County:</strong><br>
  <%= @lostitem.county.name %>
</p>
<hr>
<p>
  <strong>Found Location:</strong><br>
  <%= @lostitem.location %>
</p>
<hr>
<p>
  <strong>Date found:</strong><br>
  <%= @lostitem.date_found %>
</p>
<hr>
<p>
  <strong>Documnet Description:</strong><br>
  <%= @lostitem.description %>
</p>
<hr>
</div>
<hr>
<%= link_to 'Edit Document', edit_lostitem_path(@lostitem), class: 'btn btn-sm btn-info' %> |
<%= link_to 'Record a new lost item', new_lostitem_path, class: 'btn btn-sm btn-primary' %> |
<%= link_to 'Complete', lostitems_path, class: 'btn btn-sm btn-default' %> 


</div>
</div>