<%= render 'pages/header' %>
<%=render 'pages/leftbar'%>
<div class="top-dashboard-row" style="padding-top: 20px; padding-bottom: 20px;">
<div class="container">
<%= @lostitem.status%>

<div class="col-md-6">
<p>
  <strong>Document Type:</strong><br>
  <%= @lostitem.type.name %>
</p>
<hr>
<p>
  <strong>Identified Name:</strong> <br>
  <%= @lostitem.name %>
</p>
<hr>
<p>
  <strong>Identified number:</strong> <br>
  <%= @lostitem.id_number %>
</p>
<hr>
<p>
  <strong>County of birth:</strong><br>
  <%= @lostitem.county_born%>
</p>
<hr>
<p>
  <strong>Front Picture:</strong><br>
  <%= @lostitem.picture_front %>
</p>
<hr>
<p>
  <strong>Back Picture:</strong><br>
  <%= @lostitem.picture_back %>
</p>
<hr>
</div>
<div class="col-md-6">
<p>
  <strong>Document Date of birth:</strong><br>
  <%= @lostitem.date_of_birth %>
</p>
<hr>
<p>
  <strong>Document County:</strong><br>
  <%= @lostitem.county.name %>
</p>
<hr>
<p>
  <strong>Found Location:</strong><br>
  <%= @lostitem.location %>
</p>
<hr>
<p>
  <strong>Date found:</strong><br>
  <%= @lostitem.date_found %>
</p>
<hr>
<p>
  <strong>Documnet Description:</strong><br>
  <%= @lostitem.description %>
</p>
<hr>

<%= link_to 'Edit Document', edit_lostitem_path(@lostitem), class: 'btn btn-sm btn-info' %> |
<%= link_to 'All Documents', lostitems_path, class: 'btn btn-sm btn-default' %>
</div>
</div>
</div>